# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Large files (uncomment if needed)
# *.h5
# *.pth
# dataset/